html, body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.header_container {
    width: 100%;
    display: inline-block;
    margin-right: 1px;
    margin-top: 1px;
}

.header_title {
    position: absolute;
    z-index: 99999;
    text-align: center;
    width: 100%;
    pointer-events: none;
}

.header_title img {
    width: 70%;
    pointer-events: none;
}

.header_element {
    width: 6.6%;
    float: left;
    padding-left: 0.05%;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
}

.header_link, .header_link img {
    width: 100%;
    display: block;
    transition: transform .25s ease-out;
}

.header_link {
    overflow: hidden;
}

.header_link img {
    object-fit: cover;

    box-sizing: border-box;
    filter: opacity(25%) grayscale(75%);
    -webkit-filter: opacity(25%) grayscale(75%);
    -moz-filter: opacity(25%) grayscale(75%);
    -o-filter: opacity(25%) grayscale(75%);

}

.header_link img:hover {
    filter: opacity(75%) grayscale(0%);
    -webkit-filter: opacity(75%) grayscale(0%);
    -moz-filter: opacity(75%) grayscale(0%);
    -o-filter: opacity(75%) grayscale(0%);
    cursor: pointer;
    transform: scale(1.1);
}

.project_container * {
    display: inline-block;;
}

.project_container {
    margin: auto;
    display: block;
    width: 70%;
    min-height: 480px;
    padding: 20px;
    margin-top: 60px;
    clear: both;
}

.project_left, .project_details {
    display: inline-block;
    width: 47%;
    float: left;
    margin: 1%;
}

.project_image {
    width: 90%;
    height: auto !important;
}

.project_images {
    width: 90%;
    height: min-content;
}

.slick-slider {
    margin-bottom: -20px;
}

.project_smallnav_image, .project_smallnav_image img {
    width: 60px;
    height: auto;
    cursor: pointer;
}

.project_smallnav_image {
    padding: 4px;
    border: 1px solid rgb(221, 221, 221);
}

.slick-dots li {
    display: none;
    height: 0px;
    width: 0px;
    margin: 0;
    padding: 0;
}

.project_title {
    margin-top: 0;
}